<nav class="navbar navbar-dark bg-dark">
  <div class="d-flex gap-2">
    <div
      class="text-light ms-3 h4 pointer h-100"
      routerLink="list"
      *ngIf="AuthService.isLoggedIn()"
    >
      Documents
    </div>
    <div
      class="text-light ms-3 h4 pointer h-100"
      routerLink="userswithdocumens"
      *ngIf="AuthService.isLoggedIn() && AuthService.IsAdmin()"
    >
      User Documents
    </div>
  </div>
  <div
    class="text-light ms-3 h4 pointer h-100"
    *ngIf="!AuthService.isLoggedIn()"
  >
    Welcome
  </div>
  <div class="d-flex gap-3 me-3 h-100">
    <div class="d-flex align-items-center gap-3 h-100">
      <div class="text-light pointer h4 mt-1" *ngIf="AuthService.isLoggedIn()">
        Hello {{ AuthService.GetName() }}
      </div>
      <div>
        <div
          class="pointer btn btn-primary rounded-0"
          mat
          routerLink="login"
          *ngIf="AuthService.isLoggedIn()"
          (click)="AuthService.logout()"
        >
          Log Out
        </div>
      </div>
    </div>
    <div
      class="text-light pointer h4 h-100"
      routerLink="login"
      *ngIf="!AuthService.isLoggedIn()"
    >
      LogIn
    </div>
    <div
      class="text-light pointer h4 h-100"
      routerLink="signup"
      accordion
      *ngIf="!AuthService.isLoggedIn()"
    >
      Register
    </div>
  </div>
</nav>
