<mat-card class="p-2">
  <mat-card-header>
    <h4>{{ data.email }} Document files</h4></mat-card-header
  >
  <mat-card-content class="p-0">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">file Name</th>
          <th scope="col" class="text-center">Type</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of Files">
          <td class="text-center">{{ file.fileName.split(".")[0] }}</td>
          <td class="text-center">{{ GetType(file.filePath) }}</td>
          <td class="text-center d-flex justify-content-center gap-4">
            <i
              (click)="DeleteFile(file.id)"
              class="fa-solid fa-trash-can fs-5 pointer"
              style="color: #d56a0c"
            ></i>
            <a [href]="file.filePath" target="_blank">
              <i
                class="fa-solid fa-eye fs-5 pointer"
                style="color: #b197fc"
              ></i>
            </a>
            <i
              (click)="DownloadFile(file.id, file.fileName)"
              class="fa-solid fa-circle-down fs-5 pointer"
              style="color: #b197fc"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-footer class="mt-2 d-flex justify-content-between">
    <button class="btn btn-dark rounded-0" matDialogClose>Close</button>
  </mat-card-footer>
</mat-card>
