table {
  width: 100%;
}
@media (max-width: 777px) {
  td,
  th {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .hide {
    display: none !important;
  }
}
