<div class="container">
  <h1 class="btn btn-primary rounded-0 mt-2">Create Document</h1>
  <mat-card class="p-2">
    <table mat-table [dataSource]="Documents" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name.</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="priorty">
        <th mat-header-cell *matHeaderCellDef>priorty</th>
        <td mat-cell *matCellDef="let element">
          {{ element.priorty }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="hide">email</th>
        <td mat-cell *matCellDef="let element" class="hide">
          {{ element.userEmail }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>userName</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>createdDate</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdDate | date }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>dueDate</th>
        <td mat-cell *matCellDef="let element">{{ element.dueDate | date }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
